certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask
Flask-Session
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe
requests==2.21.0
SQLAlchemy
urllib3==1.24.2
Werkzeug

# Heroku
psycopg2-binary
gunicorn==19.9.0
