{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
     <section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 col-lg-6 d-flex">
    				<div class="img-about img d-flex align-items-stretch">
    					<div class="overlay"></div>
	    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/about1.jpg);">
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-6 pl-md-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<h1 class="big">About</h1>
		            <h2 class="mb-4">About Me</h2>
		            <p>I am a passionate guy who derives inspiration from the life of great men worldwide.</p>
		            <ul class="about-info mt-4 px-md-0 px-2">
		            	<li class="d-flex"><span>Name:</span> <span>Daniel  Odeh</span></li>
		            	<li class="d-flex"><span>Date of birth:</span> <span>September 23</span></li>
		            	<li class="d-flex"><span>Address:</span> <span>22 Cornershop, FHA Lugbe, FCT-Abuja</span></li>
		            	<li class="d-flex"><span>Zip code:</span> <span>1000</span></li>
		            	<li class="d-flex"><span>Email:</span> <span>danielodeh@yahoo.com</span></li>
		            	<li class="d-flex"><span>Phone: </span> <span>+234 0906-921-5978</span></li>
		            </ul>
		          </div>
		        </div>
	          <div class="counter-wrap ftco-animate d-flex mt-md-3">
              <div class="text">
              	<p class="mb-4">
	                <span class="number" data-number="12">0</span>
	                <span>Project complete</span>
                </p>
                <p><a href="https://www.linkedin.com/in/daniel-odeh-42554550/" target="_blank" class="btn btn-primary py-3 px-3">Download CV</a></p>
              </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>

{% endblock %}